/* input your CSS */
@charset "utf-8";

h1 {
	text-align: center;
	color: blue;
}

div {
	
}

#leftDiv {
	float: left;
	margin-left: 20%;
	/* background-color: #1DDB16; */
	background-color: white;
	color: black;
	font-size: large;
}

#rightDiv {
	float: right;
	margin-right: 20%;
	/* background-color: #1DDB16; */
	background-color: white;
	color: black;
	font-size: large;
}

.btn {
	position: static;
	text-align: center;
	display: inline;
}

.selectDiv {
	float: none;
	display: block;
	border: 1px solid blue;
}

.selectLang {
	display: inline;
} 

table {
  border-spacing: 0;
  width: 70%;
  border: 1px solid #FFB4FF;
  margin-left: auto;
  margin-right: auto;
}
th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 12px;
}

.trThead{
    background-color: rgb(108, 223, 243);
    color: black;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

#srcText, #resultText{
	width: 95%;
	height: 350px;
	display: inline;
}

.labelDiv{
	text-align: center;
	display: inline;
	position: relative;
}

/* #tableDiv{
	text-align: center;
	width: 300px;
	border: 1px solid red;
} */